.about{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

.about h1{
    font-size: 1.5em;
}

.about p{
    color: #aaa;
    margin-bottom: 2em;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
    padding: 10px 15px;
}