.about{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

.about h1{
    font-size: 1.5rem;
    font-weight: 300;
}

.about p{
    color: #aaa;
    margin-bottom: 2em;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
    padding: 10px 15px;
}

img {
    width: 10rem;  
    padding-bottom: 1rem;
  }


  /* For tablet devices */
@media screen and (min-width: 600px) {
    .about p{
        padding: 0 5rem;
    }
}