.dashboard {
    text-align: center;
  }
  
  .dashboard h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  
  .dashboard p {
    color: #aaa;
    margin-bottom: .5rem;
  }

  .taks__area{
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
    height: 300px;
    overflow: auto;
  }

  .taks__area::-webkit-scrollbar {
    width: 10px;
  }
  .taks__area::-webkit-scrollbar-track {
    background: #ECEBF2;
  }
  .taks__area::-webkit-scrollbar-thumb {
    background: #c9c6d4;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(188, 179, 223, 0.3);
  }
  
  .notask {
    text-align: center;
  }

  .dashboard span{
    font-weight: bold;
  }
  
  .task_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }
  
  .task_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .task_row p {
    color: #000;
  }
  
  .btn__delete{
    background-color: rgb(255, 127, 127);
    color: #eee;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;   
  }

/*=============== BREAKPOINTS ===============*/
/*For Tablets*/
@media screen and (min-width: 600px) {
  .taks__area{
    height: 19rem;
  }
}
/* For hd devices */
@media screen and (min-width: 1200px) {
  .taks__area{ 
    height: 15rem;
  }
}
  
/* For full hd devices */
@media screen and (min-width: 1900px) {
  .taks__area{
    height: 25rem;
  }
}







 