.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  
  .dashboard p {
    color: #aaa;
    margin-bottom: 1em;
  }
  
  .notask {
    text-align: center;
  }
  
  .notask p {
    margin-bottom: 1.5em;
  }
  
  .notask a {
    padding: 10px 25px;
  }
  
  .task_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }
  
  .task_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 80%;
    padding: 10px;
  }
  
  .task_row p {
    color: #000;
  }
  
  .btn__delete{
    background-color: rgb(255, 127, 127);
    color: #eee;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;   
  }