body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    width: 450px;
    height: 80vh;
    border-radius: 5px;
    box-shadow: rgb(211, 210, 210) 10px 10px 50px;
    list-style: none;
}

.title {
    padding: 50px;
    text-align: right;
}

.input__task{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 70px;
    margin-left: auto;
    margin-right: auto;

}

.btn__input{
    background-color: #50E3A4;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: auto;
}