.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1px rgb(238, 238, 238);
}

input{
    text-align: center;
}

.input__task{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 55px;
}

.btn__input{
    background-color: #50E3A4;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;   
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.btn__input:hover{
    background-color: #40bd87;
    color: rgb(87, 87, 87);
    transition: 0.5s
}