body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 100vw;
  height: 35rem;
  box-shadow: rgb(211, 210, 210) 10px 10px 50px;
  
}

/*=============== BREAKPOINTS ===============*/
/*For Tablets*/
@media screen and (min-width: 600px) {
  .container {
    width: 85vw;
    border-radius: 2rem;
  }
}
/* For hd devices */
@media screen and (min-width: 1250px) {
  .container {
    width: 50vw;
    height: 30rem;
  }
}
  
  /* For full hd devices */
  @media screen and (min-width: 1900px) {
    .container {
      width: 35vw;
      height: 40rem;
    }
}