body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 450px;
  height: 80vh;
  border-radius: 5px;
  box-shadow: rgb(211, 210, 210) 10px 10px 50px;
  list-style: none;
}