body {
    background-color: #F0EFE9;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

input::placeholder,
textarea::placeholder{
  font-family: "Montserrat", sans-serif;;
  color: #aaa;
}

input:focus,
textarea{
  outline: none;
}

a,
nav button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover,
nav button:hover{
  color: #bbb;
}

/*Form styles*/

form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span{
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .8em 0;
  background-color: transparent;
}

.btn{
  background-color: #50E3A4;
  color: rgb(66, 66, 66);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}


.btn:hover{
  background-color: #40bd87;
  color: rgb(87, 87, 87);
  transition: 0.5s
}



button[disabled]{
  background-color: #AAA;
}

