body {
    background-color: #FBFBFD;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

a,
nav button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover,
nav button:hover{
  color: #bbb;
}

.btn{
  background-color: #50E3A4;
  color: rgb(66, 66, 66);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn:hover{
  background-color: #40bd87;
  color: rgb(87, 87, 87);
  transition: 0.5s
}

button[disabled]{
  background-color: #AAA;
}

/*Form styles*/
form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span{
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea{
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: .8em 0;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder{
  font-family: "Montserrat", sans-serif;;
  color: #aaa;
  text-transform: uppercase;
  text-align: center;
}

input:focus,
textarea{
  outline: none;
}


/*=============== BREAKPOINTS ===============*/
/* For hd devices */
@media screen and (min-width: 1200px) {
  /*Form styles*/
  input::placeholder,
  textarea::placeholder{
  font-size: 1rem;
}

  label {
    width: 15rem;
  }

  input,
  textarea{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: .7rem 0;
  }
}